body {
    background-color: rgb(180, 194, 189);
    color: rgb(69, 83, 79);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.container {
    background-color: white;
    max-width: 550px;
    min-width: 230px;
    overflow: auto;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    overflow: auto;
}
header {
    max-width: 570px;
    margin: 0px auto;
    overflow: auto;
}
div div {
    /* border: 1px solid rgb(187, 210, 187); */
    max-width: 500px;
    padding: 20px;
    margin: 10px;
}
.bonus-div-titel-container {
    padding: 10px;
    width: 300px;
    margin-top: 40px;
    border-radius: 20px;
}
ul {
    list-style: none;
    accent-color: teal;
}
/* input:checked + label {
    background-color: lightblue;
} 
label {
    background-color: rgb(228, 228, 228);
    padding: 10px 45px;
    margin: 10px;
    border-radius: 10px;
}
label:hover {
    background-color: lightblue;
}*/
li {
    /* display:inline-flex;
    overflow: auto; */
    margin: 8px -20px;
}
/*
input {
    opacity: 0;
    width: 0;
    height: 0;
} */
button {
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}
.submit-btn {
    float: right;
    margin: 10px;
}
.background-btn {
    background-color: white;
    float: right;
}
.small {
    height: 200px;
    object-position: center;
    margin-left: 30px;
}

/* Text */
h1 {
    text-align: center;
    margin-bottom: 40px;
}
h3 {
    margin-bottom: 0px;
}
h4 {
    margin-top: 30px;
    text-align: center;
}
p {
    margin-top: 5px;
}
.page-title {
    color:goldenrod;
}



/* darkmode */
.dark-mode {
    background-color: black;
    color: #adb0b5;
}
.dark-mode-container {
    background-color: #1f2124;
    border: 1px solid #6b6d71;
}
.button-dark-mode {
    background-color: #1f2124;
    color:#adb0b5;
    border: 1px solid #6b6d71;
}
.page-title-dark-mode {
    color: #dddddd;
}
.image-hide {
    display:none;
}
/* .dark-mode-label {
    background-color: #2b2d2f;
}
.dark-mode-label:hover {
    background-color: #373839;
} */
