body {
    background-color: rgb(180, 194, 189);
    color: rgb(69, 83, 79);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    margin: 10px;
}
.container {
    background-color: white;
    margin: 0px auto;
    padding: 10px;
    max-width: 500px;
    min-width: 230px;
    overflow: auto;
    border-radius: 20px;
}
.question-div {
    max-width: 400px;
    /* border: 1px solid rgb(187, 210, 187); */
    padding: 10px;
    margin: 10px;
}
.hide {
    display: none;
}
ul {
    list-style: none;
    accent-color: rgb(58, 131, 143);
}
button {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border-style: none;
    float: right;
}
.backgroundBtn {
    float: right;
}
/* Text */
h1 {
    text-align: center;
    margin-bottom: 40px;
}
h4 {
    text-align: center;
}




/* darkmode */
.dark-mode {
    background-color: black;
    color: #adb0b5;
}
.dark-mode-container {
    background-color: #1f2124;
}
.button-dark-mode {
    background-color: #1f2124;
    color:#adb0b5;
    border: 1px solid;
}